*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.nav1{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    height:5%;
}
.li1{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap:40px;
}
.button1 button:first-child{
    border-radius: 50px;
    padding:10px;
    border:none;
    color:white;
    background-color:green;
    display:none;
}
.button1 button:nth-child(2){
    border-radius:50px;
    padding:10px;
    border:none;
    display:none;
}
.inp1{
    display:flex;
    flex-direction: row;
}
.input{
    border-radius:50px 0px 0px 50px;
}
i{
    background-color:#04AA6D;
    padding:1rem;
    border-radius: 0px 50px 50px 0px;
    width:6rem;
    text-align: center;
}
.nav2{
    background-color:#282A35;
    color:white;
}
.li2{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap:30px;
    padding:10px;
    
}
.content1{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:#282A35;
    color:white;
    padding-top:8rem;
    padding-bottom:10rem;
    gap:2rem;
    align-items: center;
}
.content1 p:first-child{
    font-size: 4rem;
    font-weight:600;
}
.content1 p:nth-child(2){
    font-size: 1.8rem;
    color:pink;
}
.content1 input:first-child{
    padding:0.8rem;
    width:27rem;
    border-radius: 50px;
}
.content1 button:first-child{
    border-radius:50px;
    width:6rem
}
.content1 p:last-child{
    font-size: 1.8rem;
    text-decoration: underline;
}
.content2{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px;
    padding-bottom:4rem;
    justify-content:space-evenly;
    align-items: center;
    background-color: #D9EEE1;
}
.container1{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
}
.container1 p:first-child{
    font-size:4rem;
    font-weight:800;
    font-family:bold;
}
.container1 p:nth-child(2){
    font-size:1.3rem;
    font-family:bolder;
    font-weight: 600;
}
.container1 button{
    padding:1rem;
    width:10rem;
    border-radius:50px;

}
.container2{
    margin-top:4rem;
    height:26rem;
    width:24rem;
    background-color:rgb(226, 222, 218);
}
.p1{
    padding-top:0.8rem;
    padding-left:3rem;
}
.box1{
    margin-top:1.2rem;
    margin-left:3rem;
    height:18rem;
    width:18rem;
    background-color:white;
    border-left:4px solid  rgb(16, 142, 16);
}
.line1 button{
    margin-top:1rem;
    margin-left:3rem;
    background-color: rgb(16, 142, 16);
    color:white;
    padding:0.8rem;
    width:8rem;
    border:0px;
    border-radius:50px;
}
.container3{
    background-color:#282A35;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
    padding-top:4rem;
    padding-bottom:4rem;
}
.sub1{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    gap:10px;
    width:35%;
    background-color:pink;
    padding:4rem;
}
.sub1 p:first-child{
    font-size:1.4rem;
}
.sub1 p:nth-child(2){
    font-size:1.3em;
}
.sub1 button{
    padding:10px;
    background-color:black;
    color:white;
    border-radius: 50px;
}
.footer{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:45%;
    gap:10px;
    text-align:center;
    margin-top:2rem;
    font-size:1.4rem;
    font-weight:600;
}
.foot1{
    text-align:center;
    padding:4rem;
    width:35%;
}
.foot2{
    width:40%;
    display:flex;
    flex-direction: row;
}
.foot{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    gap:170px;
    margin-top:2rem;
}
.foot2{
    display:flex;
    flex-direction: row;
    padding:3rem;
    width:180px;
}
.foot{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px;
}
.footbox{
    background-color:orange;
    width:300px;
    padding:35px 0 35px 0;
    border-radius:20px;
    text-align:center;
    font-size:1.5rem;
}
@media (max-width:700px){
    .content1 p:first-child{
        font-size: 2rem;
    }
    .content1 p:nth-child(2){
        font-size: 0.9rem;
        color:pink;
    }
    .content1 input:first-child{
        padding:0.3rem;
        width: 13.5rem;
        border-radius: 50px;
    }
    .content1 p:last-child{
        font-size: 0.9rem;
        text-decoration: underline;
    }
    .container1 p:first-child{
    font-size:2rem;
    font-weight:400;
    font-family:bold;
}
}
@media (max-width:560px){
    .container2{
        display:none;
        margin-top:4rem;
        height:26rem;
        width:24rem;
        background-color:rgb(226, 222, 218);
    }
    .button1{
        display:none
    }
    .li1{
        font-size:0.8rem;
    }
    i{
        background-color:#04AA6D;
        padding:1rem;
        border-radius: 0px 50px 50px 0px;
        width:3rem;
        text-align: center;
    }
}  
@media (max-width:700px){
    .footer{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        width:95%;
        gap:10px;
        text-align:center;
    }
    .sub1{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        gap:10px;
        width:95%;
        background-color:pink;
        padding:2rem;
    }
}